.card {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  width: 300px;
  height: 500px;
}

.card:hover {
  cursor: pointer;
}
